<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <jmxConfigurator/>
    <property name="PATH_LOG" value="/opt/logs/statistics"/>

    <appender name="businessStdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%p %d{yyyy-MM-dd HH:mm:ss.SSS} %t %logger.%M [%F:%L] - %msg%n%ex{full}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="handlerStdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %logger %t:%r ] - [ %p ] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="profilingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${PATH_LOG}/profiling.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %logger %t:%r ] - [%p] %m%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="streamAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${PATH_LOG}/stream.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %logger %t:%r ] - [%p] %m%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="businessStdoutAppender" />
    </root>

    <logger name="profiling" additivity="false">
        <appender-ref ref="profilingAppender" />
        <appender-ref ref="handlerStdoutAppender" />
    </logger>

    <logger name="stream" additivity="false">
        <appender-ref ref="streamAppender" />
        <appender-ref ref="handlerStdoutAppender" />
    </logger>
</configuration>